<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Sidebar</li>
    <%= nav_li "Home", root_path %>
    <%= nav_li "About", home_about_path %>
    <%= nav_li "Contact", home_contact_path %>
  </ul>
</div><!--/.well -->